.containerLogin {
  display: grid;
  margin-top:-150px;
  grid-template-columns: 0.8fr 2.5fr 0.4fr;
  grid-template-rows: 0.7fr 1.5fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: rgb(189, 171, 147);
  grid-template-areas:
    ". . ."
    ". Login ."
    ". . .";
}

.Login {
  grid-area: Login;
  max-width: 100vh;
  margin-left:-550px;
  border-radius: 10px;
  border: 3px solid #a991d4;
  padding: 50px;
  background-color:#433c68;
}

.headerLogin {
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 6px;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.inputLarge {
  height: 40px;
  width: 90%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  margin-left: 30px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.buttonLogin {
  height: 50px;
  width: 90%;
  font-weight: bolder;
  padding: 0 15px;
  font-size: 18px;
  margin-bottom: 1.3rem;
  margin-left:30px;
  border-radius: 6px;
  letter-spacing: 1px;
  border: 1px solid #ddd;
  color: #e4bdde;
  background: #aaaa;
  cursor: pointer;
}
.buttonLogin:hover {
  background:#e0bae7;
  transition:colors;
}

.txtWhite{
  color: #fff;
  font-family:Georgia, 'Times New Roman', Times, serif;
  align-items: center;
}

.txtWhite2{
  color: #fff;
  margin-left:200px;
  margin-top:100px;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  align-items: center;
}


.buttonRegister{
  border-radius: 6px;
  height: 30px;
  width: 30%;
  margin-left:20px;
  max-width: 100%;
  font-weight: bolder;
  color: #8e1dff;
  background: #888888;
  cursor: pointer;
  border: 1px solid #ddd;
  font-size: 15px;
}
.buttonRegister:hover {
  background:#d1cfd1;
}

.Axolotlogin{
  width: 400px;
  margin-left: 500px;
  margin-top:150px;
}