.containerRegistro {
    display: grid;
    grid-template-columns: 0.8fr 3fr 0.2fr;
    grid-template-rows: 0.2fr 2fr 0fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". Registro ."
      ". . .";
  }
  
  .Registro {
    grid-area: Registro;
    max-width: 100vh;
    border-radius: 10px;
    border: 3px solid #a991d4;
    padding: 50px;
    background-color:#433c68;
  }
  
  .headerRegistro {
    color: #fff;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-radius: 6px;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  .inputLarge {
    height: 40px;
    width: 90%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
  }

.contraseñas{
  margin-top:10px;
  margin-bottom:10px;
  margin-left:30px;
}

  .inputLarge2 {
    padding: 0 15px;
    height: 40px;
    width: 90%;
    font-size: 17px;
    margin-bottom: 1.3rem;
  
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
  }

  .buttonRegistrar {
    height: 50px;
    width: 90%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    margin-left:30px;
    border-radius: 6px;
    letter-spacing: 1px;
    border: 1px solid #ddd;
    color: #fff;
    background: #a991d4;
    cursor: pointer;
  }
  .buttonRegistrar:hover {
    background:#aaaaaa;
  }

  .txtWhite{
    color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-items: center;
  }
  
  .buttonLoginBack{
    border-radius: 5px;
    margin-left:5px;
    border: 1px solid #ddd;
    height: 30px;
    max-width: 100%;
    color: #ffeefd;
    background: #938296;
  }