
.containerpassword{
    margin-left:300px;
    margin-top:100px;
}

.inputLarge {
    height: 40px;
    width: 90%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
  }

  .password {
    grid-area: Login;
    max-width: 100vh;
    border-radius: 10px;
    border: 3px solid #a991d4;
    padding: 60px;
    background-color:#433c68;
  }

  .headerpassword {
    color: #fff;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-radius: 6px;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  .txtWhite{
    color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    font-size: 13px;
  }
  
  .txtWhite2{
    font-size: 13px;
    color: #fff;
    margin-left:130px;
    margin-top:100px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-items: center;
  }