
/*Pantalla Añadir Cast*/

.addCast{
  display: flex;
  background-color: #433C68;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 60px 15px;
}

.contentAddCast{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.btnCast{
  color: #fff;
  background-color: #a991d4;
  border-radius: 15px;
  width: 100px;
  height: 40px;
}

.listCast{
  display:flex;
  background-color: white;
  height: 200px;
  width: 500px;
  overflow-y: scroll;
}

/*Pantalla Añadir Genero*/
.addGenre{
  display: flex;
  background-color: #433C68;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 60px 15px;
}

.contentAddGenre{
  display: grid;
  grid-template-columns: (1, 1fr);
}

.listGenre{
  display:flex;
  background-color: white;
  height: 200px;
  width: 500px;
  overflow-y: scroll;
}

/*Pantalla Añadir Pelicula*/
.addMovie{
  display: flex;
  background-color: #433C68;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 60px 15px;
}

.contentAddMovie{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px;
  
}

.btnCancelar{
  color: #fff;
  background-color: red;
  border-radius: 15px;
  width: 100px;
  height: 40px;
  margin: 20px;
}

.btnConfirmar{
  color: #fff;
  background-color: #008542;
  border-radius: 15px;
  width: 100px;
  height: 40px;
  margin: 20px;
}

.addMovieh1{
  grid-column: 1/3;
}

.Archivos{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  height: 30px;
}

.inputDuration{
  width: 80px;
}

.divfile{
  position: relative;
  background-color: #a991d4;
  width: 150px;
  border-radius: 50px;
  top: 0px;
  left: 0px;
}

.divfile:hover{
  background-color: #24223A;
}

.Poster{
  position: relative;
  width: 80px;
}

.inputFile{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

h1{
  color: white;
}

h2{
  color: white;
}
label{
  color: white;
  font-size:large;
  padding: 20px 15px;
}

.inputCast{
  width: 500px;
}

.inputGenre{
  width: 300px;
}

.inputCal{
  width: 60px;
}

.selectGenero{
  width: 200px;
}

.selectClasificacion{
  width: 200px;
}


/*Header*/
header{
  display: flex;
  background-color: #24223A;
  height: 100px;
}

.Navigation{
  z-index: 1;
  display: grid;
  grid-template-columns:5% 20% 30% 15% 20%;
  width:  100%;
  height: 100px;
  padding: 20px 15px;
}

.SearchInput{
  height: 40px;
  border-radius: 5px;
}

.Button{
  background-color: #433C68;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-left: 5px;
}

.Button:hover{
  background-color: #a991d4;
}

.Barras{
  background-color: #24223A;
  color: white;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
}

.menus{
  background-color: #24223A;
  width: 300px;
  
}

.menus button{
  background-color: #433C68;
  color: white;
  border-radius: 5px;
  margin: 10px;
  width: 200px;
  height: 40px;
  
}

.menus button:hover{
  background-color: #a991d4;
}

.menus h5 {
  color: white;
  margin: 10px;
}
.menus h6 {
  color: white;
  margin: 10px;
}


.UserPic{
  width: 100px;
  border-radius: 20px;
  border-color: white;
  margin: 10px;
  margin-left: 50px;
}

.Axolotl{
  width: 200px;
}

.flexbtn{
  display: flex;
  justify-content: right;
}


.listCast ul{
  height: 1000px;
  padding: 10px;
}
.listGenre ul{
  height: 1000px;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #AAAAAA;
}


/*Pestaña Pelicula*/

.movie{
  display: flex;
  background-color: #433C68;
  min-height: 100vh;
}

.contentMovie{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 60px 15px;
}

.sinopsisMovie{
  display: grid;
  grid-template-columns: 25% 75%;
}

.sinopsisMovie p{
  font-size:larger;
  color: white;
}

.infoMovie{
  padding: 20px;
}

.Poster{
  width: 300px;
  height: 400px;
  padding: 15px;
}

h3{
  color: white;
}

.Foto1{
  width: 1000px;
  padding: 10px;
  height: 450px;
  
}

.btnRent{
  background-color: #a991d4;
  color: white;
  border-radius: 5px;
  margin: 10px;
  width: 100px;
  height: 50px;
}

.btnBuy{
  background-color: #a991d4;
  color: white;
  border-radius: 5px;
  margin: 10px;
  width: 100px;
  height: 50px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

/*DASHBOARD*/
.dashboard{
  display: flex;
  background-color: #433C68;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin: 20px 20px 0 20px; /* Agrega un margen superior de 20 píxeles y un margen horizontal de 20 píxeles */
}

.grid-container img {
  width: 100%;
  height: auto;
}

.sidebar {
text-align: center;
  float: right;
  width: 25%;
  margin-left: 20px;
  border: 10px solid black;
  padding: 10px;
}

.category-list label {
  display: block;
  margin: 5px 0;
}

/*EDIT PROFILE*/
.editProfile{
  display: flex;
  background-color: #433C68;
  min-height: 100vh;
}
.container2{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}


button[type="submit"] {
  padding: 8px;
  border-radius: 5px;
  background-color: #06c;
  color: #fff;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0571a6;
}


/*ESTILOS PARA LOGIN Y REGISTER*/
.register{
  display: flex;
  background-color: #433C68;
  min-height: 100vh;
  
}

.InputRegisterFile{ 
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 50%;
}

.registroButton{
  border-radius: 5px;
  height: 30px;
  width: 10%;
}

.whitecolor{
  color: #fff;
  font-family:Georgia, 'Times New Roman', Times, serif;
  align-items: center;
}

.InicioSesion{
color: #fff;
font-family:Georgia, 'Times New Roman', Times, serif;
align-items: center;

border-radius: 6px;
background-color:#433c68;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  background: #009579;
}
.container {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: #433c68;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.container .registration {
  display: none;
}
#check:checked ~ .registration {
  display: block;
}
#check:checked ~ .login {
  display: none;
}
#check {
  display: none;
}
.container .form {
  padding: 2rem;
}
.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.InputRegister{
  height: 60px;
  width: 45%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-right: 1.3rem;
}

.FormLogin {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}
.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.form a {
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}
.button {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  color: #fff;
  background: #a991d4;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.button:hover {
  background:#aaaaaa;
}
.signup {
  font-size: 17px;
  text-align: center;
}
.signup label {
  color: #009579;
  cursor: pointer;
}
.signup label:hover {
  text-decoration: underline;
}
